---
import IconX from "@/assets/icons/IconX.svg";
import IconMoon from "@/assets/icons/IconMoon.svg";
import IconSearch from "@/assets/icons/IconSearch.svg";
import IconSunHigh from "@/assets/icons/IconSunHigh.svg";
import IconMenuDeep from "@/assets/icons/IconMenuDeep.svg";
import LinkButton from "./LinkButton.astro";
import { SITE } from "@/config";
import { getUiText } from "@/utils/getUiText";
import { getCategoryLabel } from "@/utils/getCategoryLabels";
import { getCollection } from "astro:content";
import getUniqueCategories from "@/utils/getUniqueCategories";

const { pathname } = Astro.url;

const games = await getCollection("games");
const allCategories = getUniqueCategories(games);
const headerCategories = allCategories.slice(0, 4);

// Remove trailing slash from current pathname if exists
const currentPath =
  pathname.endsWith("/") && pathname !== "/" ? pathname.slice(0, -1) : pathname;

const isActive = (path: string) => {
  const currentPathArray = currentPath.split("/").filter(p => p.trim());
  const pathArray = path.split("/").filter(p => p.trim());

  return currentPath === path || currentPathArray[0] === pathArray[0];
};
---

<a
  id="skip-to-content"
  href="#main-content"
  class="absolute start-16 -top-full z-50 bg-background px-3 py-2 text-accent backdrop-blur-lg transition-all focus:top-4"
>
  {getUiText("nav.skipToContent")}
</a>

<header
  class="app-layout flex flex-col items-center justify-between sm:flex-row"
>
  <div
    id="top-nav-wrap"
    class:list={[
      "py-4 sm:py-6",
      "relative w-full bg-background",
      "flex items-baseline justify-between sm:items-center",
    ]}
  >
    <a
      href="/"
      class="absolute py-1 text-xl leading-8 font-semibold whitespace-nowrap sm:static sm:my-auto sm:text-2xl sm:leading-none flex items-center gap-2"
    >
      {
        SITE.showLogo && (
          <img
            src={SITE.logoPath}
            alt=""
            class="inline-block"
            style={`height: ${SITE.logoSize}px; width: auto;`}
            aria-hidden="true"
          />
        )
      }
      <span>{SITE.title}</span>
    </a>
    <nav
      id="nav-menu"
      class="flex w-full items-center justify-end sm:ms-2 sm:flex-row sm:justify-between sm:space-x-4 sm:py-0"
    >
      <div class="hidden items-center sm:flex sm:flex-1 sm:justify-center">
        <ul
          class:list={[
            "[&>li>a]:block [&>li>a]:px-4 [&>li>a]:py-3 [&>li>a]:text-center [&>li>a]:font-medium [&>li>a]:hover:text-accent sm:[&>li>a]:px-2 sm:[&>li>a]:py-1",
            "sm:flex sm:w-auto sm:gap-x-5 sm:gap-y-0",
          ]}
        >
          {
            headerCategories.map(category => (
              <li class="flex items-center justify-center">
                <a
                  href={`/category/${category}`}
                  class:list={[
                    "focus-outline capitalize",
                    { "text-accent": isActive(`/category/${category}`) },
                  ]}
                >
                  {getCategoryLabel(category)}
                </a>
              </li>
            ))
          }
          {
            headerCategories.length < allCategories.length && (
              <li class="flex items-center justify-center">
                <a
                  href="/category/"
                  class:list={[
                    "focus-outline",
                    { "text-accent": isActive("/category") },
                  ]}
                >
                  {getUiText("nav.all")}
                </a>
              </li>
            )
          }
        </ul>
      </div>
      <ul
        class:list={[
          "hidden gap-x-5 gap-y-0 sm:flex",
          "[&>li>a]:block [&>li>a]:px-2 [&>li>a]:py-1 [&>li>a]:text-center [&>li>a]:font-medium [&>li>a]:hover:text-accent",
        ]}
      >
        <li class="flex items-center justify-center">
          <LinkButton
            href="/search"
            class:list={[
              "focus-outline flex p-1",
              { "[&>svg]:stroke-accent": isActive("/search") },
            ]}
            title={getUiText("nav.search")}
            aria-label={getUiText("nav.ariaSearch")}
          >
            <IconSearch />
            <span class="sr-only">{getUiText("nav.search")}</span>
          </LinkButton>
        </li>
        {
          SITE.lightAndDarkMode && (
            <li class="flex items-center justify-center">
              <button
                id="theme-btn"
                class="focus-outline relative size-8 p-1 hover:[&>svg]:stroke-accent"
                title={getUiText("nav.toggleTheme")}
                aria-label={getUiText("nav.ariaThemeToggle")}
                aria-live="polite"
              >
                <IconMoon class="absolute top-[50%] left-[50%] -translate-[50%] scale-100 rotate-0 transition-all dark:scale-0 dark:-rotate-90" />
                <IconSunHigh class="absolute top-[50%] left-[50%] -translate-[50%] scale-0 rotate-90 transition-all dark:scale-100 dark:rotate-0" />
              </button>
            </li>
          )
        }
      </ul>
      <button
        id="menu-btn"
        class="focus-outline p-2 sm:hidden"
        aria-label={getUiText("nav.openMenu")}
        aria-expanded="false"
        aria-controls="menu-items"
      >
        <IconX id="close-icon" class="hidden" />
        <IconMenuDeep id="menu-icon" />
      </button>
      <ul
        id="menu-items"
        class:list={[
          "mt-4 grid w-44 grid-cols-2 place-content-center gap-2",
          "[&>li>a]:block [&>li>a]:px-4 [&>li>a]:py-3 [&>li>a]:text-center [&>li>a]:font-medium [&>li>a]:hover:text-accent",
          "hidden sm:hidden",
          "w-full",
        ]}
      >
        {
          headerCategories.map(category => (
            <li class="col-span-1 flex items-center justify-center">
              <a
                href={`/category/${category}`}
                class:list={[
                  "focus-outline capitalize",
                  { "text-accent": isActive(`/category/${category}`) },
                ]}
              >
                {getCategoryLabel(category)}
              </a>
            </li>
          ))
        }
        {
          headerCategories.length < allCategories.length && (
            <li class="col-span-1 flex items-center justify-center">
              <a
                href="/category/"
                class:list={[
                  "focus-outline",
                  { "text-accent": isActive("/category") },
                ]}
              >
                {getUiText("nav.all")}
              </a>
            </li>
          )
        }
        <li class="col-span-1 flex items-center justify-center">
          <LinkButton
            href="/search"
            class:list={[
              "focus-outline flex p-3",
              { "[&>svg]:stroke-accent": isActive("/search") },
            ]}
            title={getUiText("nav.search")}
            aria-label={getUiText("nav.ariaSearch")}
          >
            <IconSearch />
            <span class="sr-only">{getUiText("nav.search")}</span>
          </LinkButton>
        </li>
        {
          SITE.lightAndDarkMode && (
            <li class="col-span-1 flex items-center justify-center">
              <button
                id="theme-btn"
                class="focus-outline relative size-12 p-4 hover:[&>svg]:stroke-accent"
                title={getUiText("nav.toggleTheme")}
                aria-label={getUiText("nav.ariaThemeToggle")}
                aria-live="polite"
              >
                <IconMoon class="absolute top-[50%] left-[50%] -translate-[50%] scale-100 rotate-0 transition-all dark:scale-0 dark:-rotate-90" />
                <IconSunHigh class="absolute top-[50%] left-[50%] -translate-[50%] scale-0 rotate-90 transition-all dark:scale-100 dark:rotate-0" />
              </button>
            </li>
          )
        }
      </ul>
    </nav>
  </div>
</header>

<script
  is:inline
  define:vars={{
    openMenu: getUiText("nav.openMenu"),
    closeMenu: getUiText("nav.closeMenu"),
  }}
>
  function toggleNav() {
    const menuBtn = document.querySelector("#menu-btn");
    const menuItems = document.querySelector("#menu-items");
    const menuIcon = document.querySelector("#menu-icon");
    const closeIcon = document.querySelector("#close-icon");

    if (!menuBtn || !menuItems || !menuIcon || !closeIcon) return;

    menuBtn.addEventListener("click", () => {
      const openMenuState = menuBtn.getAttribute("aria-expanded") === "true";

      menuBtn.setAttribute("aria-expanded", openMenuState ? "false" : "true");
      menuBtn.setAttribute("aria-label", openMenuState ? openMenu : closeMenu);

      menuItems.classList.toggle("hidden");
      menuIcon.classList.toggle("hidden");
      closeIcon.classList.toggle("hidden");
    });
  }

  toggleNav();

  // Runs on view transitions navigation
  document.addEventListener("astro:after-swap", toggleNav);
</script>
